{
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "rules": {
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/no-onchange": 0
  }
}