{
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:import/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}