@import '../variables.css';

.btnLogout {
  margin-top: -5px;
  padding: 5px 10px;
  background: var(--background-color);
  border: 1px solid var(--pink);
  border-radius: var(--border-radius);
  color: var(--pink);
  float: right;
  cursor: pointer;

  &:hover {
    background-color: var(--pink);
    color: var(--background-color);
  }

  @media (--small-height) {
    margin-top: -10px;
  }
}

.team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 10px;

  & > * {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.teamName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnNav {
  &,
  &:focus,
  &:active,
  &:visited {
    color: var(--blue);
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
}

.btnAdd {
  padding-left: 13px;
  display: inline-block;
  background: url('../images/plus.svg') no-repeat 0 3px;
  background-size: 12px 9px;
  flex: 0 0 auto;
}

.btnSwap {
  background: url('../images/swap.svg') no-repeat 0 3px;
  background-size: 100% 9px;
  padding: 0;
  text-indent: -9999em;
  flex: 0 0 auto;
  height: 16px;
}

.btnPost {
  width: 100%;
  padding: 10px 15px;
  display: block;
  background: white;
  border: 1px solid var(--pink);
  border-radius: 5px;
  box-shadow: 2px 2px 0 var(--pink);
  font-size: 18px;
  color: var(--pink);
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(234, 0, 145, 0.08);
  }

  &:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:disabled:hover {
    cursor: default;
    color: var(--pink);
    background: white;
  }

  @media (--small-height) {
    padding: 7px;
    font-size: 16px;
  }
}

.btnLink {
  &,
  &:focus,
  &:active {
    color: var(--pink);
    border: none;
    cursor: pointer;
    display: inline;
    font: inherit;
    outline: none;
    outline-offset: 0;
    text-decoration: underline;
    background: none;
  }
}

html.isMinHeight {
  &,
  & body {
    @media (--min-height) {
      overflow: hidden;
      position: relative;
    }
  }
}

.minHeight {
  display: none;

  & h1 {
    margin-top: 47vh;
  }

  @media (--min-height) {
    position: absolute;
    margin: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--background-color);
    display: block;
    z-index: 100;
  }
}
