.btnLogout {
  margin: -7px 0 5px 10px;
  padding: 5px 10px;
  background: white;
  border: 1px solid #e90090;
  border-radius: 3px;
  color: #e90090;
  float: right;
  cursor: pointer;
}

.btnLogout:hover {
  background-color: #e90090;
  color: #fff;
}

.btnPost {
  width: 100%;
  padding: 15px;
  display: block;
  background: white;
  border: 1px solid #e90090;
  border-radius: 5px;
  box-shadow: 2px 2px 0 #e90090;
  font-size: 20px;
  color: #e90090;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnPost:hover {
  background-color: rgba(234, 0, 145, 0.08);
}

.btnPost:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.btnPost:disabled {
  opacity: 0.5;
}

.btnPost:disabled:hover {
  cursor: default;
  color: #e90090;
  background: white;
}

.error {
  margin-bottom: 20px;
  color: #e90090;
  text-align: center;
  font-size: 24px;
}

.error a,
.error a:visited {
  color: #e90090;
}
