@import '../variables.css';

.mediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  margin: 0 auto;

  width: calc(100vw - (var(--padding) * 2));
  height: calc(100vw - (var(--padding) * 2));
  max-width: calc(var(--max-width) - (var(--padding) * 2));
  max-height: calc(var(--max-width) - (var(--padding) * 2));

  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  color: var(--pink);
  background: var(--blue-light);

  & > * {
    width: 100%;
    display: block;
  }

  &.errorContainer {
    color: var(--pink);
    background: var(--pink-light);
    border-color: var(--pink);
  }

  @media (--small-height) {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

.mediaText {
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.captureProgress {
  background: color(var(--pink) alpha(65%));
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btnCapture {
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--blue);
  box-shadow: 2px 2px 0 var(--blue);
  background-color: white;
  color: var(--blue);
  padding: 10px 15px;
  font-size: 18px;
  margin-top: var(--vertical-margin);
  user-select: none;

  &:hover {
    background-color: var(--blue-light);
  }

  &:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }

  &:disabled,
  &:disabled:hover {
    opacity: 0.5;
    cursor: default;
    outline: none;
    background-color: white;
  }

  @media (--small-height) {
    margin-top: -1px;
    padding: 10px 7px 7px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    font-size: 16px;
  }
}

.btnRecording {
  box-shadow: none;
  transform: translate(2px, 2px);
  background-color: var(--blue-light);
}
