.container {
  position: relative;
  min-height: 120px;
}

.mediaContainer {
  position: relative;
}

.video,
.image {
  border: 1px solid #12abee;
  border-radius: 3px;
}

.video {
  width: 100%;
  transform: rotateY(180deg);
}

.image {
  width: 100%;
}

.initial {
  color: #12abee;
  text-align: center;
  font-size: 36px;
}

.error {
  color: #e90090;
  text-align: center;
  font-size: 24px;
}

.captureProgress {
  background: #e90090;
  height: 5px;
  position: absolute;
  bottom: 0;
  border-radius: 3px;
}

.renderProgress {
  background: #ddd;
  width: 100%;
  font-size: 24px;
  color: #e90090;
  border: 1px solid #12abee;
  border-radius: 3px;
  text-align: center;
  padding-top: 50px;
}

.btnCapture {
  outline: none;
  cursor: pointer;
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #12abee;
  box-shadow: 2px 2px 0 #12abee;
  background-color: white;
  color: #12abee;
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 10px;
  user-select: none;
}

.btnCapture:hover {
  background-color: rgba(18, 172, 239, 0.08);
}

.btnCapture:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.btnCapture:disabled {
  opacity: 0.5;
  cursor: default;
}

.btnCapture:disabled:hover {
  opacity: 0.5;
  cursor: default;
  background-color: white;
}

@media screen and (max-height: 565px) {
  .btnCapture {
    margin-top: -1px;
    padding: 10px 7px 7px;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 15px;
  }
}

.btnRecording {
  box-shadow: none;
  transform: translate(2px, 2px);
  background-color: rgba(18, 172, 239, 0.08);
}
