.selectChannel {
  width: 100%;
  margin: 10px 0 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../images/caret.svg');
  background-size: 22px 12px;
  background-position: 97% 55%;
  border: 1px solid #12abee;
  border-radius: 3px;
  box-shadow: 2px 2px 0 #12abee;
  cursor: pointer;
}

.select {
  width: 103%;
  margin: 0;
  height: 40px;
  padding-left: 50px;
  background: url('../images/logo-slack.svg') no-repeat 15px 50%;
  background-size: 24px auto;
  border: none;
  font-size: 16px;
  text-indent: 45px;
  color: #12abee;
  cursor: pointer;
}

@media screen and (max-height: 565px) {
  .selectChannel {
    margin-bottom: 10px;
    background-size: 18px 9px;
  }
  .select {
    padding-left: 40px;
    height: 32px;
    font-size: 16px;
    text-indent: 35px;
    background-size: 15px auto;
  }
}

.empty {
  color: #e90090;
}
.error {
  color: #e90090;
}
.loading {
  color: #ccc;
}

.selectChannel select:focus {
  outline: none;
}
