@import '../variables.css';

.selectChannel {
  width: 100%;
  margin: 10px 0 10px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../images/caret.svg');
  background-size: 22px 12px;
  background-position: 97% 55%;
  border: 1px solid var(--blue);
  border-radius: 3px;
  box-shadow: 2px 2px 0 var(--blue);
  cursor: pointer;

  @media (--small-height) {
    background-size: 18px 9px;
  }
}

.select {
  width: 103%;
  margin: 0;
  height: 40px;
  padding-left: 50px;
  background: url('../images/logo-slack.svg') no-repeat 15px 50%;
  background-size: 24px auto;
  border: none;
  font-size: 16px;
  color: var(--blue);
  cursor: pointer;
  -webkit-appearance: none;

  @media (--small-height) {
    padding-left: 40px;
    height: 32px;
    font-size: 16px;
    background-size: 15px auto;
  }
}

.empty,
.error {
  color: var(--pink);
}

.loading {
  color: var(--gray);
}
