@import '../variables.css';

.inputMessage {
  width: 100%;
  margin: var(--vertical-margin) 0;
  padding: 10px 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  border: 1px solid var(--blue);
  border-radius: var(--border-radius);
  font-size: 18px;
  color: var(--blue);

  &::placeholder {
    color: var(--blue);
  }

  &[readonly],
  &[readonly]:focus {
    opacity: 0.5;
    cursor: default;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @media (--small-height) {
    padding: 7px 10px;
    font-size: 16px;
    margin: var(--vertical-margin-short) 0;
  }
}
