.inputMessage {
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
  overflow: hidden;
  background-repeat: no-repeat;
  border: 1px solid #12abee;
  border-radius: 3px;
  font-size: 18px;
  color: #12abee;
}

.inputMessage::placeholder {
  color: #12abee;
}

.inputMessage:focus {
  outline: none;
}

.inputMessage[readonly] {
  opacity: 0.5;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-height: 565px) {
  .inputMessage {
    padding: 7px 10px;
    font-size: 16px;
    margin: 10px 0;
  }
}
