.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: red;*/
  text-align: center;
}

.container > div {
  width: 100%;
}

.logoFacecamp {
  margin-bottom: 30px;
  margin-right: -20px;
  text-align: center;
}

.logoFacecamp img {
  width: 150px;
  display: inline-block;
}

h1 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #12abee;
}

p {
  margin-bottom: 20px;
}

.btnSlackAuth {
  width: 100%;
  padding: 20px;
  display: block;
  background: url('/assets/images/logo-slack-full.svg') no-repeat center center;
  background-size: auto 70px;
  border-radius: 5px;
  border: 1px solid #12abee;
  box-shadow: 2px 2px 0 #12abee;
  text-indent: -9999em;
  transition: background-color 0.2s;
}

.btnSlackAuth:hover {
  background-color: rgba(18, 172, 239, 0.08);
}

.btnSlackAuth:active {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.byline {
  margin-top: 80px;
}

.logoAndyet {
  width: 50px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999em;
  background: url('/assets/images/logo-andyet.svg') no-repeat center center;
  background-size: contain;
  transition: opacity 0.2s;
}

.logoAndyet:hover {
  opacity: 0.7;
}
