.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container > div {
  width: 100%;
}

.logoFacecamp {
  margin-bottom: 30px;
  margin-right: -20px;
  text-align: center;
}

.logoFacecamp img {
  width: 150px;
  display: inline-block;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  color: #12abee;
}

.container p {
  margin-bottom: 20px;
}

.byline {
  margin-top: 80px;
}

.logoAndyet {
  width: 50px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999em;
  background: url('/assets/images/logo-andyet.svg') no-repeat center center;
  background-size: contain;
  transition: opacity 0.2s;
}

.logoAndyet:hover {
  opacity: 0.7;
}
