<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="slack-app-id" content="AA4PZPLQL">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.url %><%= htmlWebpackPlugin.options.logo %>" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" value="<%= htmlWebpackPlugin.options.domain %>" />
    <meta name="twitter:title" value="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:description" value="<%= htmlWebpackPlugin.options.description %>" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.url %><%= htmlWebpackPlugin.options.logo %>" />
    <meta name="twitter:url" value="<%= htmlWebpackPlugin.options.url %>" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %><%= htmlWebpackPlugin.options.appleIcon %>">
    <link rel="manifest" test="wpp" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
    <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
      <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
    <% } %>

    <% for (var chunk of webpack.chunks) { %>
      <% for (var file of chunk.files) { %>
        <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
          <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
        <% } %>
      <% } %>
    <% } %>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.ssr({
      url: '/'
    }) %>
    <div id="root">
      <noscript id="noscript">
        <div id="static-message">
          <div>
            <img src="<%= htmlWebpackPlugin.files.publicPath %><%= htmlWebpackPlugin.options.logo %>" alt="Facecamp logo" />
            <h1>Facecamp requires JavaScript.</h1>
          </div>
        </div>
      </noscript>
    </div>
    <script>
      window.onerror = function (err) {
        var message = 'An error occurred: <code>' + (err.message || 'Unknown error' ) + '</code>.<br/>This browser might not be supported.';
        document.getElementById('root').innerHTML = document.getElementById('noscript')
          .innerHTML
          .replace('Facecamp requires JavaScript.', message);
      };
      </script>
    <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
  </body>
</html>
