html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
input,
button,
select {
  font-family: 'Menlo', 'Monaco', 'Courier New', mono;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 550px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-height: 565px) {
  #root {
    /* Gets rid of the iOS issue where the bottom 40px is reserved to show
       the browser bottom nav when not visible, so that when the post button
       is tapped it posts the first time. TODO: remove this when apps works as
       an iOS PWA. https://github.com/andyet/face.camp/issues/33
      */
    padding: 10px 20px 40px;
  }
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a,
a:visited {
  color: #e90090;
}
