:root {
  --background-color: #fff;
  --text-color: #000;
  --pink: #e90090;
  --pink-light: color(var(--pink) alpha(8%));
  --blue: #12abee;
  --blue-light: color(var(--blue) alpha(8%));
  --gray: #ccc;
  --max-width: 550px;
  --padding: 20px;
  --vertical-margin: 15px;
  --vertical-margin-short: 8px;
  --border-radius: 3px;
}

@custom-media --small-height screen and (height <= 800px);
@custom-media --min-height screen and (height <= 400px);
